* {
    border: 1;
    border-radius: 15;
    font-family: "FiraMono Nerd Font";
    font-size: 13px;
    min-height: 0;
    margin-right: 2px;
    margin-left: 2px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.2);
    border: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#hyprland-workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border: 3px solid rgba(100, 114, 125, 0.5);
}

#hyprland-workspaces button.focused {
    background: #64727D;
    border: 3px solid rgba(100, 114, 125, 0.5);
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

.modules-right {
    opacity: 0.5;
    background-color: #282828;
}

.modules-left {
    opacity: 0.7;
    background-color: #282828;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
