[Desktop Entry]
Name=Steam (Runtime)
Comment=Application for managing and playing games on Steam
Comment[hu]=Alkalmazás a Steames játékok futtatásához és kezeléséhez
Exec=/usr/bin/steam-runtime %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
X-XFCE-Source=file:///usr/share/applications/steam.desktop

[Desktop Action Store]
Name=Store
Name[hu]=Áruház
Exec=steam steam://store

[Desktop Action Community]
Name=Community
Name[hu]=Közösség
Exec=steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library
Name[hu]=Könyvtár
Exec=steam steam://open/games

[Desktop Action Servers]
Name=Servers
Name[hu]=Szerverek
Exec=steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Name[hu]=Képernyőmentések
Exec=steam steam://open/screenshots

[Desktop Action News]
Name=News
Name[hu]=Hírek
Exec=steam steam://open/news

[Desktop Action Settings]
Name=Settings
Name[hu]=Beállítások
Exec=steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Name[hu]=Barátok
Exec=steam steam://open/friends
