configuration {
    font: "JetBrains Mono 11";
    show-icons: true;
    terminal: "alacritty";
}

* {
    /* Mélyebb, sötétebb háttér (Catppuccin Crust) */
    background-color: #11111b;
    text-color: #cdd6f4;
    border-color: #313244;
}

window {
    width: 30%;
    border: 2px;
    border-radius: 8px;
    padding: 10px;
    /* Extra sötét belső háttér aablaknak */
    background-color: #11111b;
}

/* Sima, nem kijelölt elemek háttér nélkül */
element {
    background-color: transparent;
    padding: 8px;
}

/* Kijelölt/kiválasztott elem (kicsit tompább kék kiemelés) */
element selected {
    background-color: #45475a;
    text-color: #cdd6f4;
    border-radius: 4px;
}
